version: '2'
services:
  php:
    image: yiisoftware/yii2-php:7.4-apache
    volumes:
      - ~/.composer-docker/cache:/root/.composer/cache:delegated
      - ./:/app:delegated
      - "../test-perfect-panel:/var/www/test-infotech"
    ports:
      - '8000:80'
